body{
    background-color: rgb(46, 94, 138);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 6fr 3fr;
}
h1{
    text-align: center;
    background-color: rgba(226, 185, 185, 0.411);
    
    
    
}
canvas{
    
    background-image: url(../Javascript/assets/BakgrundV2.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    
    /*var(--canvasSizeWidth), var(--canvasSizeHeight)*/
}
#H1{
    grid-column: 2/3;
    background-color: rgb(52, 187, 169);
    align-self: center;
    
}
#canvas{
    width: 100%;
    height: 50vw;
    grid-row: 2/3;
    grid-column: 2/3;
}
#flex{
    display: flex;
    flex-direction: column;
    
    justify-items: stretch;
    
    grid-row: 2;
}
.flexitem{
    flex-grow: 1;
    
}
.textsizeButtons{
    font-size: 15px;
}
#stats{
    display: flex;
    flex-direction: column;
    justify-items: stretch;

    background-color: cadetblue;

    grid-column: 3;
    grid-row: 2;
}
#gameUnable{
    display: none;
}

.Balloon{
    display: none;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px){
    .textsizeButtons{
        font-size: 12px;
    }
    body{
        grid-template-rows: 1fr 4fr 3fr;
    }
}

@media (max-width: 450px){
    
    .gameContet{
        display: none;
    }
    #stats{
        display: none;
    }
    #flex{
        display: none;
    }
    #canvas{
        display: none;
    }
    #gameUnable{
        display: block;
        background-color: cadetblue;
        grid-column: 2;
        grid-row: 2;
    }
    .alignTextCenter{
        text-align: center;
    }

}